.CommentView {
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.19);
}

.CommentView > * {
  display: block;
}

.CommentView > textarea {
  width: 100%;
  min-height: 100px;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}

.CommentView > button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  color: #363636;
  background-color: gold;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  transition: transform 12s ease-in-out;
}

.CommentView > button:hover {
  transform: rotate(920deg);
}